<h1> new Blog post </h1>
<%= form_for @blogs do |f| %>
	<p> <%= f.label :title %>: <%= f.text_field :title %> </p>
	<p> <%= f.label :body %>: <%= f.text_area :body %> </p>
	<p> <%= f.submit "Add new blog Post" %> </p>
<% end %>
